*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: #88E4C2;
    
}
.quiz{
  background-color: #FFFFFF;  
  border: 4px solid #FFF;
  padding: 20px;
  max-width: 700px;
  margin: 40px auto; 
  box-sizing: border-box;
  
}

.quiz__maintitle{
    text-align: center;
    padding: 0.75rem 3rem;
    font-size: 16px;
    color: #808080;
    margin-top: 30px;
}

.nom1{
    width: 90%;
    height: 50px;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}
.lab2{
    padding-bottom: 300px;
}
/* ####################################### */
.nomInput{
    margin-top: 5px;
    margin-bottom: 20px;
}
.nomInput input{
    width: 100%;
    height: 35px;
    margin-top: 4px;
    padding: 0 10px;
}
.emailInut input{
    width: 100%;
    height: 35px;
    margin-top: 4px;
}



/* ##########################################"" */

.nom2{
    width: 90%;
    height: 50px;
    padding-bottom: 40px;
    /* margin-top: 20px; */ 
}
.nom1:hover{
    color: green;
}
.nom2:hover{
    color: green;
}
.nom1 label{
    margin-top: 40px;
}
.quiz__btn{
    background-color: #028239;
    color: #FFFFFF;
    padding: 0.75rem 3rem;
    text-align: center;
    margin: 90px 40%; 
    cursor: pointer;
}
.div__paragraph{
    margin-top: 100px;
}
.reponse {
    box-sizing: border-box;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
    text-align: left;
    padding: 1rem 1rem;
    margin: 10px auto;
    cursor: pointer;

}

.quitter__btn{
    background-color: #EC880C;
    color: #FFFFFF;
    padding: 0.75rem 3rem; 
    text-align: center;
    font-size: 20px;
}
.suivant__btn {
    background-color: #02843A;
    color: #FFFFFF;
    padding: 0.75rem 3rem; 
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
}
.question__title{
    text-align: center;
    padding: 0.75rem 3rem;
    margin-top: 20px;
    font-size: 35px;
    color: #555555;
}
.div__button{
    display: flex;
    margin-top: 160px;
    margin-left: 25%;
}
.div__paragraph input[type=radio]{
    color: red;
}
.questionscreen{
    display: none;
}
.div__result{
    text-align: center;
    padding: 0.75rem 3rem; 
    display: none;
}
.affiche__prenom{
    text-align: center;
    padding: 1rem 1rem;
    margin: 10px auto; 
}
#affiche__score{
    color: 555555;
    font-size: 20px;

}
#affiche__prenom{
    color: #555555;
    font-size: 50px;
}
#affiche__email{
    color: #555555;
    font-size: 30px;
}
.acceuil__btn{
    background-color: #0880D6;
    color: #FFFFFF;
    padding: 0.75rem 3rem; 
    text-align: center;
    font-size: 20px;
    margin-left: 20px;  
}
.hidden {
    display: none;
}

input:checked{
  accent-color: green;
}

.br-green {
    border-color: green;
}

.suivant__btn:disabled {
    background-color: rgba(128, 128, 128, 0.486);
}
.counterClass{
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 70%;
    height: 40px;
    background: gray;
    position: relative;
}
.progress-inner{
    background : green;
    position: absolute;
    width: 100%;
    height: 100%;
}
.emailClass{
    display: none;
}
.prenomClass{
    display: none;
}