*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    line-height: 1.5;
}
.container{
    font-size: 15px;
    background: linear-gradient(0.25turn, #37aa82,#95E0DE);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.quiz{
  background-color: #FFFFFF;  
  border: 4px solid #FFF;
  padding: 20px;
  height: 480px;
  width: 380px;
}

.quiz__maintitle{
    text-align: center;
    color: #808080;
}
.quiz__maintitlep{
    color: #808080;
    text-align: center;
  margin: 0 33px;
  margin-bottom: 30px;
}
.quiz__maintitleh{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 17px;
    margin-bottom: 28px;
    font-weight: 100;
    color: #808080;
}

.nom1{
    width: 90%;
    height: 50px;
    padding-bottom: 20px;
    /* margin-top: 20px; */
}
.lab2{
    padding-bottom: 300px;
}
/* ####################################### */
.nomInput{
    /* margin-top: 100px; */
    margin-bottom: 20px;
}
.nomInput input{
    width: 100%;
    height: 38px;
    margin-top: 4px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;

}
.emailInut input{
    width: 100%;
    height: 38px;
    margin-top: 4px;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}



/* ##########################################"" */

.nom2{
    width: 90%;
    height: 50px;
    padding-bottom: 40px;
    /* margin-top: 20px; */ 
}
.nom1:hover{
    color: green;
}
.nom2:hover{
    color: green;
}
.nom1 label{
    margin-top: 40px;
}
.quiz__btn{
    background-color: #028239;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px;
    margin: auto;
    height: 40px;
    width: 149px;
    border: none;
    outline: none;
}
.divButton{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
.div__paragraph{
    margin-top: 30px;
}

.div__paragraph div{
    margin: 20px 0;
}
.reponse {
    box-sizing: border-box;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
    text-align: left;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 10px;
}

.quitter__btn{
    background-color: #EC880C;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    width: 120px;
    border: 0;
    outline: 0;
}
.suivant__btn {
    background-color: #02843A;
    color: #FFFFFF;
    text-align: center;
    margin-left: 20px;
    height: 40px;
    width: 120px;
    border: 0;
    outline: 0;
}
.question__title{
    text-align: center;
    color: #555555;
    height: 70px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__button{
    display: flex;
    display: flex;
    justify-content: center;
}
.div__paragraph input[type=radio]{
    color: red;
}
.questionscreen{
    display: none;
}
.div__result{
    text-align: center;
    display: none;
}
.affiche__prenom{
    text-align: center;
    padding: 1rem 1rem;
    margin: 10px auto; 
    color: #606060;
    padding-right: 20px;
}
#affiche__score{
    color: 555555;

}
#affiche__prenom{
    color: #555555;
}
#affiche__email{
    color: #555555;
    font-size: 2px;
}
.acceuil__btn{
    background-color: #0880D6;
    color: #FFFFFF;
    padding: 0.75rem 3rem; 
    text-align: center;
    margin-left: 20px;  
}
.hidden {
    display: none;
}

input:checked{
  accent-color: green;
}

.br-green {
    border-color: green;
}

.suivant__btn:disabled {
    background-color: rgba(128, 128, 128, 0.486);
}
.counterClass{
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 100%;
    height: 10px;
    background: rgb(245, 239, 239);
    position: relative;
    border-radius: 12px;
}
.progress-inner{
    background : green;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;

}
.emailClass{
    display: none;
    color: red;
}
.prenomClass{
    display: none;
    color: red;
}
.time {

}
.radioInputClass{
    margin-right: 15px;
}
.classImage {
    height: 100px;
}

/* @media screen and (max-width: 500px){

    .container, .quiz, body{
        width: 100%;
    }
} */